* {
  font-family: 'Comfortaa', cursive;
}

body {
  background: #fff url("WesOnCoding.github.io/Website Images/background.png") no-repeat right top;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}

h1, h3 {
  padding: 60px 60px;
}

.header {
  background-color: #8c00cc;
  border-bottom: 1px solid #8c00cc;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  z-index: 10000;
}

.header li {
  display: inline;
  margin-left: 30px;
  padding-left: 20px;
}

.footer {
  background-color: #8c00cc;
  border: 10px solid #8c00cc;
  width: 100%;
  text-align: right;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  height: 256px;
  padding: 60px;
}
