* {
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
}

h1, h3 {
  padding: 60px 60px;
}

.header {
  background-color: #8c00cc;
  border-bottom: 1px solid #8c00cc;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.header li {
  display: inline;
  margin-left: 30px;
  padding-left: 20px;
}

.footer {
  background-color: #8c00cc;
  border: 1px solid #8c00cc;
  width: 100%;
  padding-left: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  height: 64px;
}
