* {
  font-family: 'Comfortaa', cursive;
}

body {
  background: #fff;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}

h1, p {
  padding: 60px 60px;
}

.header {
  border: 1px solid #8c00cc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header li {
  display: inline;
}

.header a {
    display: inline-block;
    padding: 10px;
    color: #8c00cc;
    text-decoration: none;
}

.footer {
  background-color: #8c00cc;
  border: 10px solid #8c00cc;
  width: 100%;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
}
